.alt-header {
  padding: var(--horizontal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.alt-header__title {
  font-size: 26px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:last-child {
  margin-left: auto;
}
/* 헤더의 아이콘 간격 만드는법 __1 
.alt-header__column i {
  margin-left: 20px;
}*/
/* 헤더의 아이콘 간격 만드는법 __2 */
.alt-header__column span:last-child {
  margin-left: 20px;
}
