.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

/*notification 의 애니매이션*/
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-7px) rotateY(360deg);
  }

  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 18px;
  animation: notificationAnimation 1s ease-in-out infinite;
}
.nav__notification__little {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 29px;
  bottom: 25px;
}
